page-admin-tab1 {

    /*
    pust try content by khanh
    */

    .boxBasic {
        width: 110%;
        margin-left: -16px;
        // margin-top: 
    }    

    .boxTabBasic {
        color: #000;    
    }

    div.buttonbar4 {
        text-align: center;
        width: 100%;
        white-space: nowrap;
        button {
            /* use width: 23% for 4 buttons, width: 18.2% for 5 buttons */
            width: 23%;
            font-size: 11px;
            height: 40px;
            ion-col {
                text-align: center;
                ion-icon {
                    /* margin-bottom controls the space between the icons and text */
                    margin-bottom: 3px;   
                }
            }
        }
    }

    .test {
        background-color: aqua;
        color: red;
    }

    .text_size {
        font-size: 8pt;
    }
    .colTitle {
        border: solid 1px;
        background: #f5f5f5; 
        border-color:#eee; 
        font-size: 8pt; 
        text-align: center;
        font-weight:bolder;
    }

    .colContent {
        border: solid 1px;
        background: #fff; 
        border-color:#eee; 
        font-size: 8pt;
    }

    .colListContent {
        border: solid 1px;
        background: #fff; 
        border-color:#eee; 
        font-size: 8pt; 
        text-align: center;
    }    
}
